<ul class="breadcrumb">
    {{#list_items}}
        <li {{#active}}class="active"{{/active}}>
            {{#url}}<a href="{{basedir}}{{url}}">{{/url}}{{& name}}{{#url}}</a>{{/url}} 
            {{#divider}}<span class="divider">/</span>{{/divider}}
        </li>
    {{/list_items}}
</ul>