    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{basedir}}bootstrap/docs/assets/js/jquery.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-transition.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-alert.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-modal.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-dropdown.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-scrollspy.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-tab.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-tooltip.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-popover.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-button.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-collapse.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-carousel.js"></script>
    <script src="{{basedir}}bootstrap/docs/assets/js/bootstrap-typeahead.js"></script>
    <script src="{{basedir}}bootstrap-wysihtml5/wysihtml5-0.3.0_rc2.min.js"></script>
    <script src="{{basedir}}bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
    
    {{& extra_foot }}
  </body>
</html>