    <div class="container">

        <table class="table table-striped table-bordered">
            <tr>
                <th>Name</th>
            </tr>
            {{#signatures}}
            <tr>
                <td>{{& name}}</td>
            </tr>
            {{/signatures}}
        </table>

    </div> <!-- /container -->