<div class="container">
        {{& alert}} 
        
        <div class="hero-unit">
            <h1>Who wants more pretzels?</h1>
            <p>Everyone does! Who doesn't want a nice hot pretzel on a Friday while drinking a beer at the office? <a href="http://www.katom.com/062-16PDA.html">Check it out</a>. Sign below and we'll totally get that awesome revolving pretzel warmer (yeah it revolves!).</p>
            <form class="form-inline" method="POST">
                <input type="text" class="typeahead" name="signature" placeholder="Sign Here…" value=""> 
                <button type="submit" class="btn">Submit</button>
            </form>                           
        </div>  
        
     
</div>